<tr class="border-b border-gray-700 py-2 even:bg-gray-200">
  <td class="px-4 py-2">{{ sheet.composers | comma_truncate_list }}</td>
  <td class="pr-4">{{ sheet.piece }}</td>
  <td class="pr-4">{{ sheet.genre or "" }}</td>
  <td class="pr-4">{{ sheet.tags | comma_truncate_list }}</td>
  <td class="pr-4">{{ sheet.instruments | comma_truncate_list }}</td>
  <td class="pr-4">{{ sheet.type or "" }}</td>
  <td class="pr-4 text-gray-700">
    <a href="/sheets/{{ sheet.sheet_id }}/download"
       class="fas fa-file-download hover:text-green-700"></a>
    <a href="/sheets/{{ sheet.sheet_id }}"
       class="pl-1 fas fa-info-circle hover:text-green-700" title="More Info">
    </a>
  </td>
</tr>
