<tr class="border-b border-gray-700 py-2 px-4 even:bg-gray-200 inline-block w-full">
  <td class="w-2/12 inline-block text-left pl-1">{{ sheet.composers | comma_truncate_list }}</td>
  <td class="w-2/12 inline-block text-left">{{ sheet.piece }}</td>
  <td class="w-1/12 inline-block text-left">{{ sheet.genre or "" }}</td>
  <td class="w-2/12 inline-block text-left">{{ sheet.tags | comma_truncate_list }}</td>
  <td class="w-2/12 inline-block text-left">{{ sheet.instruments | comma_truncate_list }}</td>
  <td class="w-1/12 inline-block text-left">{{ sheet.type or "" }}</td>
  <td class="text-gray-700 w-1/12 inline-block text-right">
    <a href="/sheets/{{ sheet.sheet_id }}/download"
       class="fas fa-file-download hover:text-green-700"></a>
    <a href="/sheets/{{ sheet.sheet_id }}"
       class="pl-1 fas fa-info-circle hover:text-green-700" title="More Info">
    </a>
  </td>
</tr>
