
@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    box-sizing: border-box;
}

.text-shadow {
    text-shadow: 0 0 1px #aaa;
}

.hover\:text-shadow:hover {
    text-shadow: 0 0 1px #aaa;
}

.min-h-80vh {
    min-height: 80vh;
}
