<tr class="border-b border-gray-700 py-2 px-4 even:bg-gray-200 inline-block w-full">
  <td class="w-2/12 inline-block text-left pl-1 mr-1">
    <a href="/sheets/{{ sheet.sheet_id }}/related?field=composers"
       class="hover:text-shadow">
      {{ sheet.composers | comma_truncate_list }}
    </a>
  </td>
  <td class="w-2/12 inline-block text-left mr-1">
    <a href="/sheets/{{ sheet.sheet_id }}" class="hover:text-shadow">
      {{ sheet.piece }}</a>
  </td>
  {#  <td class="w-2/12 inline-block text-left mr-1">#}
  {#    {{ sheet.catalog_number }}#}
  {#  </td>#}
  <td class="w-1/12 inline-block text-left mr-1">{{ sheet.genre or "" }}</td>
  <td class="w-2/12 inline-block text-left mr-1">{{ sheet.tags | comma_truncate_list }}</td>
  <td class="w-2/12 inline-block text-left mr-1">{{ sheet.instruments | comma_truncate_list }}</td>
  <td class="w-1/12 inline-block text-left mr-1">{{ sheet.type or "" }}</td>
  <td class="text-gray-700 w-1/12 inline-block text-right">
    <a href="/sheets/{{ sheet.sheet_id }}/download"
       class="fas fa-file-download hover:text-green-700" title="Download File"></a>
    <a href="/sheets/{{ sheet.sheet_id }}"
       class="pl-1 fas fa-info-circle hover:text-green-700" title="More Info">
    </a>
  </td>
</tr>
