<div class="shadow border border-gray-100 rounded my-2 px-4 pb-4 pt-2"
     x-data="{showPreview: false}">
  <h6 class="font-bold text-gray-600">Composer</h6>
  <p class="text-black">
    <a href="/sheets/{{ sheet.sheet_id }}/related?field=composers"
       class="hover:text-shadow"
       title="{{ sheet.composers | comma_list }}">
      {{ sheet.composers | comma_truncate_list }}
    </a>
  </p>
  <h6 class="font-bold text-gray-600 mt-1">Piece</h6>
  <p class="text-black">{{ sheet.piece }}</p>
  <h6 class="font-bold text-gray-600 mt-1">Catalog Number</h6>
  <p class="text-black">{{ sheet.catalog_number }}</p>
  <h6 class="font-bold text-gray-600 mt-1">Genre</h6>
  <p class="text-black">{{ sheet.genre or "" }}</p>
  <h6 class="font-bold text-gray-600 mt-1">Instruments</h6>
  <p class="text-black">
    <a href="/sheets/{{ sheet.sheet_id }}/related?field=instruments"
       class="hover:text-shadow" title="{{ sheet.instruments | comma_list }}">
      {{ sheet.instruments | comma_truncate_list }}
    </a>
  </p>
  <h6 class="font-bold text-gray-600 mt-1">Tags</h6>
  <p class="text-black">
    <a href="/sheets/{{ sheet.sheet_id }}/related?field=tags" class="hover:text-shadow"
       title="{{ sheet.tags | comma_list }}">
      {{ sheet.tags | comma_truncate_list }}
    </a>
  </p>
  <h6 class="font-bold text-gray-600 mt-1">Type</h6>
  <p class="text-black">{{ sheet.type or "" }}</p>
  <div class="text-gray-700 mt-2 flex">
    <a href="/sheets/{{ sheet.sheet_id }}/download"
       class="hover:text-green-700 p-1 pr-2 border-b border-gray-700 hover:border-green-700">
      <i class="fas fa-file-download inline-block pr-1"></i>
      Download</a>
    <a href="/sheets/{{ sheet.sheet_id }}"
       class="ml-2 hover:text-green-700 p-1 pr-2 border-b border-gray-700 hover:border-green-700"
       title="More Info">
      <i class="fas fa-info-circle inline-block pr-1"></i>
      More Info
    </a>
    <button
        class="ml-2 hover:text-green-700 p-1 border-b border-gray-700 hover:border-green-700 cursor-pointer flex items-center"
        @click="showPreview = !showPreview"
    >
      <i class="icon-preview pr-1"></i>
      Preview
    </button>
    {{ macros.preview('/static/ludwigs-tango-bass-preview.png', 'Sheet Preview') }}
  </div>
</div>
