<tr class="border-b border-gray-700 py-2 px-4 even:bg-gray-200 inline-block w-full">
  <td class="w-2/12 inline-block text-left pl-1 mr-1">
    <a href="/sheets/{{ sheet.sheet_id }}/related?field=composers"
       class="hover:text-shadow"
       title="{{ sheet.composers | comma_list }}">
      {{ sheet.composers | comma_truncate_list }}
    </a>
  </td>
  <td class="w-2/12 inline-block text-left mr-1">
    <a href="/sheets/{{ sheet.sheet_id }}" class="hover:text-shadow">
      {{ sheet.piece }}</a>
  </td>
  {#  <td class="w-2/12 inline-block text-left mr-1">#}
  {#    {{ sheet.catalog_number }}#}
  {#  </td>#}
  <td class="w-1/12 inline-block text-left mr-1">{{ sheet.genre or "" }}</td>
  <td class="w-2/12 inline-block text-left mr-1">
    <a href="/sheets/{{ sheet.sheet_id }}/related?field=tags" class="hover:text-shadow"
       title="{{ sheet.tags | comma_list }}">
      {{ sheet.tags | comma_truncate_list }}
    </a>
  </td>
  <td class="w-2/12 inline-block text-left mr-1">
    <a href="/sheets/{{ sheet.sheet_id }}/related?field=instruments"
       class="hover:text-shadow" title="{{ sheet.instruments | comma_list }}">
      {{ sheet.instruments | comma_truncate_list }}
    </a>
  </td>
  <td class="w-1/12 inline-block text-left mr-1">{{ sheet.type or "" }}</td>
  <td class="text-gray-900 w-1/12 inline-flex items-center text-right">
    <a href="/sheets/{{ sheet.sheet_id }}/download"
       class="icon-download hover:text-green-700 mx-1" title="Download File"></a>
    <a href="/sheets/{{ sheet.sheet_id }}"
       class="pl-1 icon-folder hover:text-green-700 mx-1" title="More Info">
    </a>
    {{ macros.open_preview_button(sheet.sheet_id, text=False, button_classes='mx-1 pt-2 pl-1 hover:text-green-700') }}
  </td>
</tr>
