{% import "macros.html" as macros %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}
    <title>Sheet Music Library</title>
  {% endblock title %}
  <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}">
  {% block styles %}
  {% endblock styles %}
</head>
<body class="h-full">
<header>
  <nav id="main-nav"
       class="bg-green-300 border-green-700 border-b py-1 px-3 md:px-4 text-green-900 shadow"
  x-data="{'show': true}"
  >
    <span class="w-full md:inline text-xl inline-flex justify-center">
      <a href="{{ url_for("index") }}"
         class="text-center md:inline text-xl font-bold mr-2">Sheet Music
        Library</a>
      <button class="md:hidden px-2 focus:outline-none" @click="show = !show"  x-bind:title="show ? 'Hide navigation' : 'Show navigation'">
        <i class="fas" x-bind:class="{'fa-caret-square-down': show === false, 'fa-caret-square-up': show === true}"></i>
      </button>
    </span>
    <div class="text-center md:text-left w-full" x-bind:class="{'hidden md:inline': !show, 'block md:inline': show}">
      <a href="/sheets" class="mr-2 hover:border-b border-green-700">Sheets</a>
      <a href="/composers" class="mr-2 hover:border-b border-green-700">Composers</a>
      <a href="/tags" class="mr-2 hover:border-b border-green-700">Tags</a>
      <a href="/instruments"
         class="mr-2 hover:border-b border-green-700">Instruments</a>
    </div>
    <form id="search-form"
          class="flex justify-center w-full md:w-auto md:m-0"
          action="/sheets/search" method="get"
          x-bind:class="{'hidden md:inline-block': !show , 'block md:inline-block': show}"
    >
      <div class="border-green-700 border p-0 my-1 bg-green-100">
        <input type="text" class="bg-transparent px-2 py-1 mx-0 placeholder-gray-600"
               title="Search" placeholder="Search" name="search"
        >
        <button class="mx-0 bg-green-700 text-white px-2 py-1" title="Search">
          <i class="fas fa-search"></i></button>
      </div>
    </form>


    <a href="/auth/logout"
       class="hidden lg:inline-block bg-green-200 border-green-200 border pt-1 pb-1 px-3 ml-auto hover:shadow">Logout</a>
  </nav>
</header>
<main id="main-body" class="container px-2 sm:px-0 sm:mx-auto">
  {% block body %}

  {% endblock body %}
</main>
<footer class="block lg:hidden m-0 pin-b flex justify-center mt-8 border-t pt-2">
  <a href="/auth/logout" class="bg-gray-200 border-gray-200 border py-1 px-3 mx-1">Logout</a>
</footer>
{% block script %}

{% endblock script %}
<script src="https://kit.fontawesome.com/8a8701572c.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</body>
</html>
