{% extends "base.html" %}
{% block body %}
  <div class="mx-4">

    <header class="my-2 flex">
      <h1 class="text-xl font-bold text-green-800 mr-4 inline-block py-1">{{ title }}
      </h1><a
        class="inline-block bg-green-200 border-b border-green-800 text-green-800 px-2 py-1 hover:shadow flex items-center"
        href="/sheets/create">
      <i class="icon-add pr-1"></i>
      Create</a>
    </header>
    <table class="hidden md:block border-collapse w-full p-0 shadow">
      <thead class="w-full inline-block">
      <tr class="border-b-2 border-gray-800 px-4 text-gray-800 font-bold text-lg block w-full">
        {{ macros.table_header('Composer', 'composers', sort_links, sort, direction, 2) }}
        {{ macros.table_header('Piece', 'piece', sort_links, sort, direction, 2) }}
{#        {{ macros.table_header('Catalog Number', 'catalog_number', sort_links, sort, direction, 2) }}#}
        {{ macros.table_header('Genre', 'genre', sort_links, sort, direction, 1) }}
        {{ macros.table_header('Tags', 'tags', sort_links, sort, direction, 2) }}
        {{ macros.table_header('Instruments', 'instruments', sort_links, sort, direction, 2) }}
        {{ macros.table_header('Type', 'type', sort_links, sort, direction, 1) }}
        <th class="w-1/12 inline-block text-right">Actions</th>
      </tr>
      </thead>
      <tbody class="w-full inline-block">
      {% for sheet in sheets %}
        {% include "_sheet-row.html" %}
      {% endfor %}
      </tbody>
    </table>
    <main class="md:hidden block  w-full">
      {% for sheet in sheets %}
        {% include "_sheet-card.html" %}
      {% endfor %}
    </main>
    <footer class="w-full mt-4">
      {% if prev_page %}
        <a href="{{ prev_page }}"
           class="p-2 mr-4 border-b border-gray-800 text-gray-800 bg-gray-200 font-bold hover:text-green-800 hover:bg-green-200 hover:border-green-800">
          Previous
        </a>
      {% endif %}
      {% if next_page %}
        <a href="{{ next_page }}"
           class="p-2 border-b border-gray-800 text-gray-800 bg-gray-200 font-bold hover:text-green-800 hover:bg-green-200 hover:border-green-800">
          Next
        </a>
      {% endif %}
    </footer>

  </div>
{% endblock body %}
