{% extends "base.html" %}
{% block body %}
  <form
      action="/auth/code"
      class="w-full md:max-w-md mx-auto"
      method="post"
  >
    <h1 class="text-xl font-bold text-green-800 pt-5 pb-0">Submit Login Code</h1>
    <p class="text-md text-gray-800 pt-2">Please check your email for a one-time code
      and enter it below.</p>
    {{ form.csrf_token }}
    {{ form.email(value=email) }}
    <div class="mb-4">
      {{ macros.text_input(form.code, margin_bottom=True) }}
    </div>
    {{ macros.submit_field(form.submit) }}
    {{ macros.action_button("Clear", "red", "clear-button", type="reset") }}
  </form>
{% endblock body %}
